<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>제품리스트</title>
	<link rel="stylesheet" href="../css/serve-footer.css">
	<link rel="stylesheet" href="../css/serve-header.css">
	<link rel="stylesheet" href="../css/product/product.css">
	<!-- icon -->
	<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
	<script src="/js/product/productManagerList.js"></script>
</head>

<body>
	<header th:replace="header::header"></header>
	<div class="container">
		<h1>제품리스트</h1>
		<br />
		<br />
		<form th:action="@{/productManagerList}" method="get">
			<div th:align="center">
				<button type="button" th:onclick="window.location.href='/productManagerList'">전체 보기</button>&nbsp;&nbsp;
				<button type="button" th:onclick="searchByProductCode('st')">스킨/토너</button>&nbsp;&nbsp;
				<button type="button" th:onclick="searchByProductCode('cr')">크림/로션</button>&nbsp;&nbsp;
				<button type="button" th:onclick="searchByProductCode('es')">에센스</button>&nbsp;&nbsp;
				<button type="button" th:onclick="searchByProductCode('sr')">세럼</button>&nbsp;&nbsp;
				<button type="button" th:onclick="searchByProductCode('af')">엠플</button>&nbsp;&nbsp;
				<button type="button" th:onclick="searchByProductCode('ain')">올인원</button>&nbsp;&nbsp;
				<button type="button" th:onclick="searchByProductCode('c-s')">선 케어</button>&nbsp;&nbsp;
				<button type="button" th:onclick="searchByProductCode('c-m')">마스크 팩</button>&nbsp;&nbsp;
				<button type="button" th:onclick="searchByProductCode('c-c')">클렌져</button>
			</div>

			<input type="hidden" name="searchAttr" id="searchAttr" value="">
			<input type="hidden" name="searchKeyword" id="searchKeyword" value="">
		</form>
		<br>
		<table th:align="center" border="2" th:cellpadding="0" th:cellspacing="0" th:width="700">
			<tr>
				<th width="50">상품코드</th>
				<th width="50">구분</th>
				<th width="150">상품이미지</th>
				<th width="100">상품명</th>
				<th width="100">상품가격</th>
				<th width="150">상품설명</th>
			</tr>
			<tr th:each="product : ${productList}">
				<td><a th:href="@{/productModify(seq=${product.seq})}" th:text="${product.productCode}"></a></td>
				<td th:text="${product.productGender}"></td>
				<td>
					<a th:href="@{/productModify(seq=${product.seq})}"><img th:src="@{|/files/${product.productImage}|}"
							alt="업로드중입니다." style="width: 150px; height: 150px;"></a>
				</td>
				<td th:text="${product.productName}"></td>
				<td th:text="${product.productPrice}"></td>
				<td th:text="${product.productContent}"></td>
			</tr>
		</table>
		<div th:if="${!productList.empty}">
			<div class="pagination">
				<th:block th:if="${startPage > 1}">
					<a th:href="@{/productManagerList(page=${startPage-2}, searchKeyword=${param.searchKeyword})}">&lt;
						이전</a>
				</th:block>

				<th:block th:each="page : ${#numbers.sequence(startPage, endPage)}">
					<a th:if="${page != nowPage}"
						th:href="@{/productManagerList(page=${page-1}, searchKeyword=${param.searchKeyword})}"
						th:text="${page}"></a>
					<strong th:if="${page == nowPage}" th:text="${page}"></strong>
				</th:block>

				<th:block th:if="${endPage < productList.totalPages}">
					<a th:if="${productList.totalPages - endPage > 0}"
						th:href="@{/productManagerList(page=${endPage}, searchKeyword=${param.searchKeyword})}">다음
						&gt;</a>
				</th:block>
			</div>
		</div>
		<br>
		<div class="add-product-button-container">
			<a th:if="${session.user != null && #strings.equals(session.user.id,'manager')}" href="/productWrite"
				class="add-product-button">제품 등록</a>
		</div>
		<footer th:replace="footer::footer"></footer>
	</div>

	<!-- jQuery Insert -->
	<script src='http://code.jquery.com/jquery-1.9.1.min.js'></script>
	<script src='../js/main.js'></script>
</body>

</html>