<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="../css/serve-footer.css">
	<link rel="stylesheet" href="../css/serve-header.css">
	<!-- icon -->
	<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>

</head>

<style>
	.container {
		padding: 65px 67px;
	}
</style>

<body>
	<header th:replace="header::header"></header>
	<div class="container">
		<h4>개인정보처리방침</h4>
		<p> 주식회사 B1L3(이하 '회사'라고 함)는 회사에서 제공하는 서비스(이하 '서비스'라고 함)를 이용하는 회원님 (이하 '이용자'라고 함)의 개인정보를 매우 소중하게 생각하고 있으며, 이용자의
			개인정보를 보호하기 위하여 최선의 노력을 다하고 있습니다.</p>
		<br />
		<p>회사는 『개인정보보호법』,『위치정보 보호 및 이용 등에 관한 법률』등 모든 개인정보보호 관련 법률규정을 준수하고 있으며 회사의 개인정보처리방침을 별도로 제정하고 이를 준수함으로써 이용자의
			개인정보를 더욱 보호하고 있습니다. 또한 회사는 개인정보처리방침을 항상 회사 홈페이지 첫 화면에 공개함으로써 이용자들이 언제나 쉽게 열람할 수 있도록 조치하고 있습니다. 회사의 개인정보처리방침은
			관련 법률 및 고시의 변경 또는 내부 운영방침의 변경에 따라 변경될 수 있습니다. 회사의 개인정보처리방침이 수정될 경우 변경된 사항은 홈페이지를 통하여 공지합니다. 회사의 개인정보처리방침은
			다음과 같은 내용을 담고 있습니다.</p>
		<br />
		<h3>제 1 조 (개인정보 수집에 대한 동의 및 수집방법)</h3>
		<p>① "회원"이라 함은 회사에게 개인정보를 제공하여 회원등록을 하는 방법으로 회원 가입된 이용자를 의미합니다.</p>
		<p>② "비회원"이라 함은 회사의 사이트 등에 회원 가입을 하지 않고, 회사가 제공하는 서비스를 이용하는 자를 말합니다.</p>
		<p>③ 이용자는 온라인 또는 오프라인으로, 회사가 회사의 개인정보처리방침에 따라 이용자의 개인정보를 수집함에 대하여 동의여부를 표시하는 방법으로 동의할 수 있습니다. 이용자가 동의 부분에 표시하면
			해당 개인정보 수집에 대해 동의한 것으로 봅니다.</p>
		<br />
		<h3>제 2 조 (개인정보의 수집항목 및 수집 • 이용 목적)</h3>
		<p>① 회사는 이용자들이 회원 서비스를 이용하기 위해 회원으로 가입하실 때 서비스 제공을 위한 필요최소한의 개인정보를 필요한 시점에 수집하고 있습니다. 다만 이용자들에게 보다 양질의 맞춤서비스를
			제공하기 위하여 이용자의 추가적인 개인정보를 선택적으로 입력 받고 있습니다.</p>
		<p>② 회사는 이용자의 명시적인 별도 동의 없이 기본적 인권 침해의 우려가 있는 사상 • 신념, 노동조합 • 정당의 가입탈퇴, 정치적 견해, 건강, 성생활, 과거의 병력, 종교, 출신지, 범죄기록 등
			민감한 개인정보는 수집하지 않습니다.</p>
		<p>③ 회사가 회원가입 시 수집하는 개인정보 항목과 그 수집 • 이용의 주된 목적은 아래와 같습니다.</p>
		<table border="1">
			<tr>
				<td>구분</td>
				<td>수집항목</td>
				<td>수집이용/목적</td>
				<td>이용/보유기간</td>
			</tr>
			<tr>
				<td rowspan="2">필수항목</td>
				<td>성명, 본인확인 값(CI), 생년월일, 성별, 무선 전화 번호, 내/외국인 구별, 온라인 회원의 아이디(ID) 및 비밀번호, 외국인등록번호(외국인회원 인증 시에만 수집․이용 후
					파기),</td>
				<td>서비스 이용에 따른 본인 식별 / 가입연령확인 / 불량회원의 부정이용 방지</td>
				<td rowspan="3">회원 탈퇴 시까지</td>
			</tr>
			<tr>
				<td>휴대 전화 번호</td>
				<td>공지사항 전달 / 본인 의사 확인, 불만처리 등을 위한 의사소통 경로확보</td>
			</tr>
			<tr>
				<td rowspan="2">선택항목</td>
				<td>휴대 전화 번호</td>
				<td>본인 동의 시 회사 또는 제휴사의 서비스 / 사업 및 정책 / 기타 이벤트에 관한 정보 제공 및 그에 따른 경품 등 물품 배송</td>
			</tr>
			<tr>
				<td>성명, 계좌정보(예금주명, 은행명, 계좌번호)</td>
				<td>주문취소나 품절 시 환불목적</td>
				<td>
					<div>환불진행고객 : 환불 완료 후 즉시 삭제</div>
					<div>미환불 고객 : 구매확정 시 즉시 삭제 </div>
					<div>미입금 고객 : 주문취소 시점 즉시 삭제</div>
				</td>
			</tr>
		</table>
		<p>④ 온라인(모바일 포함) 서비스 이용 시 이용자 확인, 서비스 제공 및 부정 이용 방지 등을 위하여 단말기에 관한 정보(단말기 모델, 운영체제 정보, 브라우저 정보 등)가 수집될 수 있으며,
			모바일 서비스 경우 PUSH서비스 제공(고객이 동의한 경우에 한함), 어플리케이션 버전 업그레이드 등의 모바일 서비스 특성에 따른 서비스 제공을 위하여 이동통신사 정보가 추가적으로 수집 및
			이용될 수 있습니다.</p>
		<p>⑤ 이용자가 회사에서 상품이나 용역 등을 구입하는 경우에는 대금결제 및 상품배송, 환불처리 등을 위하여 다음과 같은 추가정보를 입력하여야 합니다
			* 결제방법에 따라
			- 카드결제의 경우: 신용카드 종류, 카드번호, 유효기간 등 결제에 필요한 최소 정보
			- 계좌이체의 경우: 거래 은행명, 계좌번호, 거래자 성명
			* 상품배송에 필요한 정보로서 상품을 보내는 사람과 받는 사람의 성명, 주소 및 전화번호 등 연락처</p>
		<p>⑥ 회사는 회원가입을 위한 개인정보 수집 외에도, 아래와 같은 경우에 개인정보를 수집하고 있으며, 개인정보 수집 시 수집목적을 명시하여 동의를 받고 있습니다.
			* 문의 응대 : 이용자의 문의 기타 요청사항 처리 및 회신을 위한 개인정보 입력
			* 고객상담시 : 고객상담 및 분쟁조정을 위한 기록보존을 위한 고객카드 작성
			* 설문조사나 경품 행사시 : 통계분석이나 경품제공 등을 위해 선별적인 개인정보 입력
			* 모니터요원 프로슈머 선발시 : 모니터활동 및 프로슈머 활동을 위한 지원서 작성
			* 회사가 주최하는 이벤트 진행 시 : 이벤트에 참여하기 위한 개인정보 수집</p>
		<p>⑦ 회사는 이용자 확인, 경품 배송 및 통계분석을 통한 마케팅 자료로서 이용자의 취향에 맞는 최적의 서비스를 제공하기 위한 목적으로 이용자의 개인정보를 수집 · 이용하고 있습니다. 그리고 이용자의
			사전 동의나 관련법령의 규정 없이는 어떠한 경우라도 이용자들에게 사전에 밝힌 목적 이외에 다른 목적으로 개인정보를 사용하지 않으며 외부에 공개하지 않습니다.</p>
		<p>⑧ 회사는 서비스 이용을 위한 본인식별을 위해 이용자의 외국인등록번호를 개인정보 주체의 별도 동의를 받아 처리할 수 있습니다.</p>
		<p>⑨ 이용자는 개인정보의 수집 · 이용에 대한 동의를 거부할 수 있습니다. 다만, 필수정보의 수집 · 이용 동의를 거부할 경우 멤버십 서비스 이용이 불가하며, 선택정보의 수집 및 이용에 거부하는
			경우, 회원가입은 가능하나 선택정보를 이용한 서비스 이용 및 혜택 제공에 제한을 받을 수 있습니다.</p>
		<p>⑩ 비회원 고객 개인정보 수집사항
			회사에서는 회원 고객 뿐 아니라 비회원 고객 또한 물품 및 서비스 상품의 구매를 하실 수 있습니다. 회사는 비회원 고객이 상품 등을 주문하는 경우 배송 및 대금 결제, 주문내역 조회 및 구매확인
			등을 위하여 필요한 개인정보(주문자의 이름, 주소, 연락처, 이메일, 대금 결제 및 환불에 관한 정보, 주문번호, 주문비밀번호 등) 만을 비회원님께 요청하고 있습니다. 회사에서 비회원으로 구입을
			하신 경우, 비회원 고객께서 입력하신 주문자 정보 및 수령인 정보는 대금결제 및 상품등의 배송에 관련한 용도 외에는 다른 어떠한 용도로도 사용되지 않습니다. 회사는 비회원의 개인정보를 회원과
			동일하게 보호하며, 법령에 따른 보존기간 동안 보관하고 안전하게 파기합니다.</p>
		<p>⑪ 회사는 위치기반서비스 이용약관에서 정한 목적 범위 내에서 개인위치정보를 이용자로부터 별도 동의를 받아 수집 · 이용할 수 있습니다.</p>
		<br />
		<br />
		<h3>제 3 조 (개인정보의 제공)</h3>
		<p>① 회사는 이용자의 동의가 있거나 관련법령의 규정에 의한 경우를 제외하고는 제2조에서 고지한 범위를 넘어 이용자의 개인(위치)정보를 이용하거나 제3자에게 제공하지 않습니다.</p>
		<p>② 다만, 다음 각 호의 경우는 이용자의 별도 동의 없이 제공될 수 있습니다.
			* 서비스 제공에 따른 요금정산을 위하여 필요한 경우
			* 통계작성, 학술연구 또는 시장조사를 위하여 필요한 경우로서 특정 개인을 알아볼 수 없는 형태로 가공하여 연구단체, 설문조사, 리서치 기관 등에 제공하는 경우
			* 개인정보보호법, 통신비밀보호법, 국세기본법, 정보통신망 이용촉진 및 정보보호에 관한 법률, 금융실명거래 및 비밀보장에 관한 법률, 신용정보의 이용 및 보호에 관한 법률, 전기통신기본법,
			전기통신사업법, 지방세법, 소비자보호법, 형사소송법 등 특별한 규정이 있는 경우</p>
		<p>③ 이용자는 제3자에 대한 개인정보 제공 동의를 거부할 수 있으며, 동의를 거부할 때에는 제3자 제공에 따른 서비스 이용에 제한을 받을 수 있습니다.</p>
		<p>④ 회사는 개인정보를 국외의 제3자에게 제공할 때에는 이용자에게 내용을 알리고 동의를 받습니다.</p>
		<p>⑤ 회사는 개인위치정보를 이용자가 지정하는 제3자에게 제공하는 경우, 개인위치정보를 수집한 통신단말장치로 매회 이용자에게 제공받는 자, 제공일시 및 제공목적을 즉시 통지합니다. 단, 아래의 경우
			이용자가 미리 특정하여 지정한 통신단말장치 또는 전자우편주소, 온라인게시 등으로 통지합니다.
			1. 개인위치정보를 수집한 당해 통신단말장치가 문자, 음성 또는 영상의 수신기능을 갖추지 아니한 경우
			2. 이용자의 개인위치정보를 수집한 통신단말장치 외의 통신단말장치 또는 전자우편주소, 온라인게시 등으로 통보할 것을 미리 요청한 경우</p>
		<br />
		<h3>제 4 조 (개인정보의 보유 이용 기간, 파기절차 및 파기방법)</h3>
		<p>① 회사는 이용자가 회사에서 제공하는 서비스를 이용하는 동안 이용자들의 개인정보를 보유하며 서비스 제공 등의 목적을 위해 이용합니다. 전산에 등록된 이용자의 개인정보는 개인정보보호 담당자 및
			책임자 또는 이들의 승인을 얻은 자가 아니면 문서로 출력할 수 없습니다</p>
		<p>② 회사는 이용자가 자신의 개인(위치)정보를 삭제하거나 회원가입 탈퇴를 요청한 경우 지체 없이 조치를 취하며, 삭제된 정보는 기록을 복구 또는 재생할 수 없는 방법에 의하여 디스크에서 완전히
			삭제하며 추후 열람이나 이용이 불가능한 상태로 처리됩니다.</p>
		<p>③ 회사는 개인정보의 수집목적 및 또는 제공받은 목적이 아래와 같이 파기사유가 발생한 때에 회사의 내부 파기절차에 따라 디스크에서 정보를 삭제하고, 출력된 경우에는 분쇄기로 분쇄하는 방법으로
			이용자의 개인정보를 지체 없이 파기합니다.</p>
		<blockquote>
			<p>* 회원가입정보의 경우 : 회원가입을 탈퇴하거나 회원에서 제명된 때</p>
		</blockquote>
		<blockquote>
			<p>* 대금지급정보의 경우 : 대금의 완제일 또는 채권소멸시효기간이 만료된 때</p>
		</blockquote>
		<blockquote>
			<p>* 배송정보의 경우 : 물품 또는 서비스가 인도되거나 제공된 때</p>
		</blockquote>
		<blockquote>
			<p>* 설문조사, 이벤트 등의 목적을 위하여 수집한 경우 : 해당 설문조사, 이벤트가 종료한 때</p>
		</blockquote>
		<p>④ 수집목적 또는 제공받은 목적이 달성된 경우에도 전자상거래 등에서의 소비자보호에 관한 법률, 개인정보보호법, 상법, 국세기본법 등 법령의 규정에 의하여 보존할 필요성이 있는 경우에는 다음과 같이
			일정기간 이용자의 개인정보를 보유할 수 있습니다.</p>
		<blockquote>
			<p>* 계약 또는 청약철회 등에 관한 기록 : 5년</p>
		</blockquote>
		<blockquote>
			<p>* 대금결제 및 재화 등의 공급에 관한 기록 : 5년</p>
		</blockquote>
		<blockquote>
			<p>* 소비자 불만 또는 분쟁 처리에 관한 기록 : 3년</p>
		</blockquote>
		<blockquote>
			<p>* 웹사이트 방문기록 : 3개월</p>
		</blockquote>
		<p>⑤ 회사는 위치정보의 보호 및 이용 등에 관한 법률 제16조에 따라 개인위치정보 이용‧제공사실 확인자료를 자동으로 기록‧보존하며 해당 자료는 6개월간 보유합니다.</p>
		<br />
		<footer th:replace="footer::footer"></footer>
		<script src='http://code.jquery.com/jquery-1.9.1.min.js'></script>
		<script src='../js/main.js'></script>
	</div>

</body>

</html>